In [34]:
# Introduction to Python - Practice Exercise

# Task 1: Variable Declaration and Data Types
# Declare variables of different types and print their values and types

# Task 2: String Manipulation
# Create a string variable and use at least 3 different string methods on it

# Task 3: Basic Operations
# Perform arithmetic, comparison, and logical operations with variables

# Task 4: Data Collections
# Create examples of a list, dictionary, and tuple, then access specific elements

# Task 5: Expression Combination
# Write an expression that combines multiple operations and variables

In [35]:
# Task 1: Variable Declaration and Data Types
#int
SL_int_Number = 10

In [36]:
#print(SL_int_Number, SL_float_Number, SL_string_text)

In [37]:
#float
SL_float_Number = 12.9

In [38]:
#string
SL_string_text = "Hello"

In [39]:
print("int valriable is : ",SL_int_Number)
print("float variable is : ",SL_float_Number)
print("string variable is : ", SL_string_text)

int valriable is :  10
float variable is :  12.9
string variable is :  Hello

In [40]:
# print valriable values
print(type(SL_int_Number))
print(type(SL_float_Number))
print(type(SL_string_text))

<class 'int'>
<class 'float'>
<class 'str'>

In [41]:
#Task 2 String Manipulation
# Create a string variable and use at least 3 different string methods on it

SL_string1="Hello World"
SL_string2="new jersey"

In [42]:
#uppercase
print(SL_string1.upper())

HELLO WORLD

In [43]:
#capitalize
print(SL_string2.capitalize())

New jersey

In [44]:
#count
print(SL_string1.count('l'))

3

In [45]:
#find
print(SL_string2.find('e'))

1

In [46]:
# Task 3: Basic Operations
# Perform arithmetic, comparison, and logical operations with variables

In [47]:
# Arithmatic
a=10
b=15
c=10.5
print(a+b+c)
print(b-c)
print((a*b)/5)
print((a/2)+c)
print(a ** b)
print(b % a)

35.5
4.5
30.0
15.5
1000000000000000
5

In [48]:
# Comparison
print(a>b)

False

In [49]:
# Logical
print(a>20)
print(a < b)
print(a<20 and b<20)
print(not(a==b))

False
True
True
True

In [52]:
# Task 4: Data Collections
# Create examples of a list, dictionary, and tuple, then access specific elements

my_list = [10, 20,30,40,50,60]
my_dict_data = {"name": "Alice", "age":25, "city":"New York City"}
my_tuple = (111 , 222, 333, 444, 555)                

print(my_list[3]) #index starts at Zero
print(my_dict_data["city"])
print(my_tuple[0])

40
New York City
111

In [57]:
# Task 5: Expression Combination
# Write an expression that combines multiple operations and variables
print("a =", a ,"b =",b , "length of city =",(len((my_dict_data["city"]))))
result = (a * b)/(b - a) + len((my_dict_data["city"]))
print("result of expression is : ", result)

a = 10 b = 15 length of city = 13
result of expression is :  43.0